body{
    background: url("images/bg-header.png") repeat-x;
}
#header-page{
    margin-top: 7em;
    padding: 50px 0;
    text-align: center;
}
.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo .img-responsive{
    display: inline-block;
}
.panel-form .panel-body{
    padding: 3%;
}
.panel-form{
    box-shadow: 5px 5px 10px 1px rgba(212,212,212,1);
    margin-bottom: 15%;
    margin-top: 5%;
}
.panel-lost{
    border: none;
    margin-bottom: 15%;
    margin-top: 5%;
}
.panel-lost legend{
    text-transform: uppercase;
    border-bottom: none;
}
.panel-lost .form-group span, .panel-lost .form-group small{
    color: red;
}
.panel-lost .form-control{
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
}
.panel-lost .btn-primary{
    padding: 10px 30px;
}
.text-login{
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
}
.form-submit{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-primary{
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 20px;
}
.panel-form .form{
    padding: 10px 30px;
}
.options{
    padding-top: 17%;
}
#footer{
    padding: 40px 0 20px;
    background-color: #34495e !important;
    color: #e6e6e6;
}
#footer h3 {
    font-size: 20px;
    margin-top: 0;
}
#footer .footer-links ul {
    padding: 0;
    list-style: none;
}
#footer .footer-links ul li {
    color: #f1f1f1;
    margin-top: 5px;
    background-color: #41586f !important;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 26px;
}
#footer .footer-links ul li a {
    color: #f1f1f1;
    display: block;
    font-size: 16px;
}
#footer #footer-logo {
    margin-bottom: 15px;
    width: 96px;
    height: 96px;
}
#cats {
    padding: 8px;
}
#cats .socials {
    text-align: center;
}
#cats ul {
    padding: 0;
}
#cats ul li {
    display: inline-block;
    margin: 10px 0 0;
}
#cats ul.socials li a img {
    width: 42px;
    height: 42px;
    margin-top: 4px;
}
.padding-header{
    padding-bottom: 0 !important;
}
.register{
    margin-top: 2% !important;
}
#footer .copyrights {
    border-top: 1px dashed #455c73;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 12px;
}
#footer .copyrights {
    border-top-color: #41586f !important;
}
#footer .copyrights a {
    color: #aac610;
}
#footer .copyrights .design-by {
    text-align: right;
}